<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">

    <Appenders>
        <Console name="stdout" target="console">
            <PatternLayout pattern="[%level] %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="de.frohwerk.demo.decorator" level="DEBUG"/>
        <Root level="INFO">
            <AppenderRef ref="stdout"/>
        </Root>
    </Loggers>

</Configuration>
